root = true

##############################
# C# code (*.cs)
##############################
[*.cs]
dotnet_diagnostic.CS8603.severity = none   # Possible null ref return
dotnet_diagnostic.CS8625.severity = none   # Null literal to non-nullable
dotnet_diagnostic.CS8602.severity = none   # Deref of possibly null
dotnet_diagnostic.CS8618.severity = none   # Non-nullable prop must initialize
dotnet_diagnostic.CS8601.severity = none   # Possible null assignment

dotnet_diagnostic.S2629.severity = none   # No string-interpolation in logging
dotnet_diagnostic.S6967.severity = none   # No ModelState.IsValid required
dotnet_diagnostic.S1481.severity = none   # Unused local var
